@keyframes glow {
	from {
		box-shadow: 0 0 5px darkred, 0 0 10px darkred, 0 0 15px darkred;
	}

	to {
		box-shadow: 0 0 20px darkred, 0 0 30px darkred, 0 0 40px darkred;
	}
}

:where(.rp-modal, .rp-button) * {
	background: none;
	border: none;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:where(.rp-modal, .rp-button) ::-webkit-scrollbar {
	cursor: pointer;
	width: 7.5px;
	background-color: transparent;
}

:where(.rp-modal, .rp-button) ::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: #414244;
}

:where(.rp-modal, .rp-button) ::-webkit-scrollbar-thumb:hover {
	background: grey;
}

:where(.rp-modal, .rp-button) img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.rp-button,
.rp-modal {
	background-color: rgba(0,0,0,0.9);
	border: darkred 1px solid;
}

.rp-button {
	cursor: pointer;
	user-select: none;
	position: fixed;
	padding: 3px;
	top: 16px;
	right: 16px;
	width: 36px;
	height: 36px;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.rp-button.unchecked {
	animation: glow 0.75s infinite alternate;
}

.rp-modal {
	opacity: 1;
	color: white;
	z-index: 9999;
	position: fixed;
	padding: 10px;
	border-radius: 5px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: calc(100vw - 10%);
	height: calc(100vh - 10%);
	transition: opacity 0.25s;
	display: grid;
	grid-template-rows: auto 1fr;
	gap: 10px;
	user-select: text;
}

.rp-modal:not(.show) {
	display: none;
	opacity: 0;
}

.rp-modal__header {
	padding-bottom: 10px;
	border-bottom: 1px solid darkred;
	display: grid;
	grid-template-columns: 1fr auto;
}

.rp-modal__header-close {
	cursor: pointer;
	user-select: none;
	width: 40px;
	height: 40px;
}

.rp-modal__body {
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: column;
	gap: 15px;
	overflow-y: scroll;
	overflow-x: hidden;
}

.rp-article {}

.rp-article ol,
.rp-article ul {
	display: flex;
	flex-flow: column;
	gap: 5px;
}

.rp-article-delimiter {
	display: block;
	width: 100%;
	height: 0px;
	border-bottom: darkred 1px solid;
	opacity: 0.6;
}

.rp-article__header {
	position: relative;
}

.rp-article__header-title {
	width: 100%;
}

.rp-article__header-time {
	font-size: 0.8rem;
	font-family: monospace;
	width: 100%;
	opacity: 0.65;
	margin-bottom: 10px;
}

.rp-article__content {
	padding-left: 10px;
	display: flex;
	flex-flow: column;
	gap: 5px;
}

.rp-article__content :where(ul, ol) {
	padding-left: 28px;
}

.rp-article__content ol li::marker {
	font-family: monospace;
}

.rp-article__content-image {
	position: relative;
	width: 200px;
	height: 200px;
	background: rgba(0,0,0,0.9);
	border: 1px darkred solid;
}

.rp-article__content-image img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.rp-article__content-image-download {
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
	user-select: none;
	width: 30px;
	height: 30px;
	padding: 3px;
	border-left: 1px solid darkred;
	border-bottom: 1px solid darkred;
	background: rgba(0,0,0,0.9);
	border-bottom-left-radius: 5px;
}

.rp-article__content-image-download img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}